<%- include('partails/header') -%>

  <%- include('partails/navbar') -%>








  <div class="container">
    <h1><%= title %></h1>
    <p><%= content %></p>
  </div>
  







<%- include('partails/footer') -%>